.col{
    flex: 1 0 0%;
}
.col-1{
    flex: 0 1 8.3333%;
}
.col-2{
    flex: 0 1 16.6667%;
}
.col-3{
    flex: 0 1 25%;
}
.col-4{
    flex: 0 1 33.3%;
}
.col-5{
    flex: 0 1 41.666667%;
}
.col-6{
    flex: 0 1 50%;
}
.col-7{
    flex: 0 1 58.82%;
}
.col-8{
    flex: 0 1 66.666667%;
}
.col-9{
    flex: 0 1 74.626%;
}
.col-10{
    flex: 0 1 83.3%;
}
.col-11{
    flex: 0 1 91.743%;
}
.col-12{
    width: 100%;
}