.badge {
    border-radius: 24px;
    min-width: 12px;
    min-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-name: badgeHoverEnd;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.74);
    background-color: white;
    transition: all;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0px 16px;
}

.badge-outline {
    background-color: unset;
}

.badge-text {
    font-family: monospace;
    padding: 0px 4px;
    font-size: 16px;
    max-width: 100px;
    max-height: 50px;
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;
}

.badge-icon {
    overflow: hidden;
    max-width: 50px;
    max-height: 50px;
    margin-left:-8px;
    padding-right: 8px;
}

.badge:hover {
    animation-name: badgeHoverStart;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 0px 5px #000000;
}


@keyframes badgeHoverStart {
    0% {
        box-shadow: 0px 0px 3px #000000;
    }

    25% {
        box-shadow: 0px 0px 4px #000000;
    }

    50% {
        box-shadow: 0px 0px 5px #000000;
    }

    75% {
        box-shadow: 0px 0px 6px #000000;
    }

    100% {
        box-shadow: 0px 0px 5px #000000;
    }
}

@keyframes badgeHoverEnd {
    0% {
        box-shadow: 0px 0px 6px #000000;
    }

    25% {
        box-shadow: 0px 0px 5px #000000;
    }

    50% {
        box-shadow: 0px 0px 4px #000000;
    }

    75% {
        box-shadow: 0px 0px 3px #000000;
    }

    100% {
        box-shadow: 0px 0px 2px #000000;
    }
}